option_settings:
  aws:elasticbeanstalk:application:environment:
    SPRING_DATASOURCE_URL: jdbc:mysql://concertdb.c4f8seqegsyy.us-east-1.rds.amazonaws.com:3306/concertdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    SPRING_DATASOURCE_USERNAME: concert
    SPRING_DATASOURCE_PASSWORD: concertpass
    SECURITY_JWT_SECRET: MzJieXRlc2xvbmdrZXl3aXRobnVtYmVyczEyMzQ1Ng==
    SECURITY_JWT_EXPIRATION_MS: '86400000'
    SECURITY_JWT_REFRESH_EXPIRATION_MS: '604800000'
